@font-face {
  font-family: Telegraf;
  src: url(/public/PPTelegraf-Regular.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Telegraf;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
}

